# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ITTalents\Test2_ITTalents_Alexander\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
